<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hlavní strana</title>
</head>
<body>
    <h3>Hlavní strana</h3>  
    <nav>
        <ul>  
            <li><a href="/">Hlavní strana</a></li>  
            <li><a href="/news/">Novinky</a></li>  
            <li><a href="/municipality/">Správa obce</a></li>  
            <li><a href="/contacts/">Kontakty</a></li>  
            <li><a href="/messages/">Zprávy</a></li> 
        </ul> 
    </nav>  
    <p>Vítejte na hlavní stránce.</p> 
    
</body>
</html>