<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Městská správa</title>
</head>
<body>
    <h3>Městská správa</h3>  
    <nav>
        <ul>  
            <li><a href="/">Hlavní strana</a></li>  
            <li><a href="/news/">Novinky</a></li>  
            <li><a href="/history/">Historie města</a></li>  
            <li><a href="/contacts/">Kontakty</a></li>  
            <li><a href="/messages/">Zprávy</a></li> 
        </ul> 
    </nav>  
    <p>Stejné jak všude jinde</p>  
    
</body>
</html>